<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <!--Due to package visibility restrictions imposed by Android 11 (API 30), EMDK apps targeting A-11 (or later) must include the following-->
        <package android:name="com.symbol.emdk.emdkservice"/>
        <package android:name="com.symbol.datawedge" />
        <intent>
            <action android:name="com.symbol.datawedge.api.ACTION" />
        </intent>
    </queries>
    <!--use EMDK need permission-->
    <uses-permission android:name="com.symbol.emdk.permission.EMDK" />
    <uses-permission android:name="com.symbol.datawedge.permission.RECEIVE_SCAN" />

    <application>
        <uses-library android:name="com.symbol.emdk"/>

        <!--
        <receiver
            android:name=".DataWedgeHelper$ResultReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="com.symbol.datawedge.api.RESULT_ACTION" />
                <action android:name="com.zebra.zebrakotlindemo.SCAN_BY_DW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        -->
    </application>
</manifest>